<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <link rel="stylesheet" href="./w3.css " />
    <link rel ="stylesheet" href="2.css">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tamrin3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./w3.css " />
    <script src="./jquery.min.js"></script>
    <script src="./33.js"></script>
  </head>
  <body>
    <div id="aval" class="w3-display-middle " style="background-color:rgb(131, 93, 255)">
      <form class="w3-container" action="2.php" method="POST">
      <img src="3.jpg " width="300" height="350" ><br>
      <label id="lable1">تعداد صلوات   </label>
      <input type="number" id="tedad" style="background-color:hsl(225, 39%, 72%)" ><br>
      </form>
      <br>

      <button id="shomaresh"   style="margin-left:115px"  >ورود به صفحه </button><br>
      <p id="peygham"  class="w3-display-position w3-text-deep-purple"><b> </b></p>
      <p id="peygham2"  class="w3-display-position w3-text-deep-purple"><b> </b></p>
    </div>
    <div style="display:none;" id="dovom" >
            <div class=" w3-green w3-top w3-bar w3-card" >

                    <a
                      href="#headertop"
                       class="w3-bar-item w3-button w3-padding-large w3-border-right"
                     >
                       <i class="fa fa-home w3-margin-right"></i>خانه
                     </a>
                       <a
                         href="#tasvir"
                          class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-border-right"
                        >
                         گالری تصاویر
                       </a>
                    <a
                        href="#footerbt"
                        class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-border-right"
                        >
                        درباره گیاهان
                    </a>
                    <p class="w3-mediom w3-margin-right w3-right "  >

                       مهندسی اینترنت

                    </p>
            </div>
           <div  class="w3-display-container" id="headertop" >
                   <img src="2.3.jpg" width="1350" height="650" alt="norway">
               <div class="w3-display-middle w3-xlarge  w3-center">
                       <div class="w3-margin-bottom">
                               <span class="w3-topbar w3-bottombar">
                                       گیاهان دارویی
                               </span>
                             </div>
                             <span class="w3-text-red w3-green w3-padding w3-hide-small">
                                   گیاهان متنوعی در طبیعت وجود دارند که دارای خواص درمانی هستند
                                   </span>

               </div>
           </div>

                    <div class="w3-card-4" id="tasvir">
                        <br>
                    <div class="w3-display-container " >
                             <header class="w3-xlarge w3-center w3-text-green " style=" border-top:7px solid rgb(164, 236, 31);  border-bottom:7px solid rgb(164, 236, 31);"> سه مدل از گیاهان دارویی</header>
                    </div>
                    <br>
                    <div class="w3-row  ">
                        <div class=" w3-container w3-col m4 s12 w3-card-4">

                                       <img src="z.jpg" width="435" height="430" alt="zeyton">
                                       <h5 class="w3-center"><b>برگ زیتون</b></h5>
                                       <button class="w3-light-green" style="font-size: 20px ; margin-left: 180px;" onclick="document.getElementById('yek').style.display='block'"><b>خواص</b></button>
                        </div>

                        <div class="w3-col m4 s12 w3-card-4 w3-container">
                                           <img src="za.jpg" width="435" height="430" alt="zangebil">
                                           <h5 class="w3-center"><b> زنجبیل</b></h5>
                                           <button class="w3-light-green " style="font-size: 20px; margin-left: 180px;" onclick="document.getElementById('doo').style.display='block'"><b>خواص</b></button>
                        </div>
                        <div class="w3-col m4 s12 w3-card-4 w3-container">
                                               <img src="r.jpg" width="435" height="430" alt="rozmary">
                                               <h5 class="w3-center"><b>رزماری </b></h5>
                                               <button class="w3-center w3-light-green" style="font-size: 20px ; margin-left: 180px;" onclick="document.getElementById('se').style.display='block'"><b>خواص</b></button>
                        </div>
                    </div>
                    </div>
                           <br>
                    <div class="w3-green w3-container w3-margin-top w3-display-container"  id="footerbt">
                        <h4 class="w3-center  ">هر گیاهی خواص دارد</h4>
                        <h6 class="w3-display-right w3-margin-right w3-hide-small	"><b>زهرا گیلک</b> </h6>
                    </div>


            <div id="yek" class="w3-modal">
                   <div class="w3-modal-content">
                     <header class="w3-container w3-green">
                       <span onclick="document.getElementById('yek').style.display='none'"
                       class="w3-button w3-display-topright">&times;</span>
                       <h2 class="w3-center">برگ زیتون</h2>
                     </header>
                     <div class="w3-container">
                       <p class="w3-right-align">
                               برگ زیتون؛ کاهش دهنده فشار خون<br>
                               اثر کاهش دهندگی پُرفشاری خون در برگ زیتون و ماده ی اصلی آن در حیوانات آزمایشگاهی، کاملا به اثبات رسیده است. آزمایش های دیگری بر روی حیوانات نشان می دهد که قند خون را نیز کاهش می دهد<br>
                               از دیگر خواص برگ زیتون، اثرات ضد اسپاسم، آنتی اکسیدان، ضد میکروب، ضد ویروس تبخال، ضد قارچ، ضد آریتمی و گشاد کننده ی رگ های قلب می باشند.
                                همچنین خاصیت گشاد کنندگی رگ های آن در حیوانات آزمایشگاهی نیز به اثبات رسیده است
                               برگ های جوان و مُسن، از نظر ترکیبات و خواص دارویی با هم مقایسه شده و تفاوتی بین آن ها وجود ندارد.
                               عوارض جانبی: تا کنون آثاری سمی، از برگ زیتون گزارش نشده است<br> با این حال گاهی ممکن است باعث دردهای معدی گردد. مصرف آن در افراد دارای دیابت ممکن است با کاهش قند خون صورت گیرد
                               طریقه و مقدار مصرف: بر روی 7 تا 8 گرم خرد شده ی برگ، یک استکان آب ریخته و مدت 5 تا 10 دقیقه می جوشانیم؛ سپس صاف کرده و پس از سرد شدن میل می کنیم. این مقدار را می توان 3 یا 4 بار در روز تکرار کرد
                       </p>
                     </div>
                   </div>
                 </div>

               <div id="doo" class="w3-modal">
                       <div class="w3-modal-content">
                         <header class="w3-container w3-green">
                           <span onclick="document.getElementById('doo').style.display='none'"
                           class="w3-button w3-display-topright">&times;</span>
                           <h2 class="w3-center"> زنجبیل</h2>
                         </header>
                         <div class="w3-container">
                           <p class="w3-right-align">
                                   زنجبیل<br>
                                   این ریشه محبوب به عنوان یک گیاه دارویی مشهور در نقاط مختلف جهان مورد استفاده قرار می گیرد. زنجبیل دارای ویژگی های آنتی اکسیدانی، ضد التهابی، ضد ویروسی، ضد قارچی، آنتی بیوتیک، ضد سرطانی، ضد تهوع، ضد اسپاسم، و ضد سرفه است.
                                   زنجبیل سیستم ایمنی بدن را به واسطه کاهش رادیکال های آزاد تقویت می کند. همچنین، این گیاه گردش خون در بدن را بهبود می بخشد، با سرماخوردگی مبارزه می کند، التهاب را کاهش می دهد، گوارش را بهبود می بخشد، سطوح قند خون را عادی می سازد، با تهوع مبارزه می کند، اشتها را تنظیم می کند، و سوزش سر دل و نفخ را تسکین می دهد.
                                   زنجبیل از تجمع سموم در بدن که خطر عفونت های ویروسی، قارچی، و باکتریایی را افزایش می دهند، پیشگیری می کند.
                                   <br>شما می توانید برش هایی از زنجبیل تازه را به سالاد اضافه کنید. همچنین، نوشیدن دو تا سه فنجان چای زنجبیل در روز را مد نظر قرار دهید. برای تهیه این چای:
                                   یک قاشق غذاخوری برش های زنجبیل و دو فنجان آب را به یک قوری اضافه کنید.
                                   آب را به جوش آورید.
                                   سپس حرارت را کم کنید و اجازه دهید چای به مدت 10 دقیقه دم بکشد<br>.
                                   چای را صاف کنید.
                                   مقداری عسل و آبلیموی تازه را به چای اضافه کنید و آن را بنوشید.
                                   توجه: افرادی که داروهای قلبی یا فشار خون مصرف می کنند باید زیر نظر پزشک زنجبیل مصرف کنند

                           </p>
                         </div>
                       </div>
                     </div>

                     <div id="se" class="w3-modal">
                           <div class="w3-modal-content">
                             <header class="w3-container w3-green">
                               <span onclick="document.getElementById('se').style.display='none'"
                               class="w3-button w3-display-topright">&times;</span>
                               <h2 class="w3-center"> رزماری</h2>
                             </header>
                             <div class="w3-container">
                               <p class="w3-right-align">
                                       رزماری یک گیاه دارویی محبوب و مفید برای سلامت انسان است. این گیاه حاوی کارنوزول و رزمارینیک، دو آنتی اکسیدان قدرتمند که نقشی کلیدی در بهبود سلامت انسان ایفا می کنند، است.<br> همچنین، رزماری از ویژگی های قوی ضد عفونی کنندگی، ضد سرطانی، و ضد التهابی بهره می برد.
                                       یکی از فواید جالب توجه رزماری عملکرد آن به عنوان یک محرک شناختی موثر است و بر همین اساس، به بهبود حافظه و تمرکز ذهنی کمک می کند.
                                       رزماری با استرس مبارزه می کند، اضطراب را کاهش می دهد، سردرد را تسکین می دهد، رشد مو را تحریک می کند، با درد مفاصل مقابله می کند، التهاب را کاهش می دهد، گوارش را بهبود می بخشد، از سرطان پیشگیری می کند، و پشتیبان سلامت قلب و عروق است.
                                       رزماری از عطر و طعم قوی بهره می برد و در سوپ ها، ساندویچ ها، سالادها، و ... قابل استفاده است. همچنین، می توانید از برگ های تازه یا خشک شده این گیاه چای درست کنید.<br> برای تهیه این چای:
                                       یک یا یک و نیم قاشق رزماری را به یک فنجان آب داغ اضافه کنید.
                                       روی فنجان یک درپوش بگذارید و اجازه دهید به مدت پنج دقیقه دم بکشد.
                                       چای را صاف کنید و در شرایطی که هنوز گرم است، آن را بنوشید.
                                       شما می توانید دو یا سه بار در روز این چای را بنوشید.
                                       توجه: در دوران بارداری و یا اگر به صرع، فشار خون بالا یا اختلالات خونریزی مبتلا هستید از مصرف رزماری پرهیز کنید.


                               </p>
                             </div>
                           </div>
                         </div>

 </body>
</html>
